body {
	max-width: 2050px;
	margin: 0 auto;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5px;
}

/*///////////////////////////////*//*FIRST_ROW/////////////////////////*/
.header__cont {
	background-image: url(images/masthead.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	min-height: 730px;
	color: white;
}

.logo {
	padding: 45px 60px;
}

.logo img {
	width: 75px;
}

.slogan {
	margin-top: -8%;
	padding-left: 60px;
}

		.slogan h1 {
			font-weight: 200;
			font-size: 3em;
			margin-bottom: -1px;
		}

		.slogan p {
			font-weight: 100;
			font-size: 0.7em;
			line-height: 1.6;
		}

		.slogan a {
			text-decoration: none;
			color: white;
			font-weight: bold;
			font-size: 0.8em;
		}

				.arrow {
					height: 1px;
					width: 10px;
					background: #fff;
					position: relative;
					display: inline-block;
					top: -4px;
				}

				.arrow:after {
					content: "";
					width: 0;
					border-width: 2px 0 2px 4px;
					border-style: solid;
					border-color: transparent #fff;
					height: 0;
					position: absolute;
					top: -1px;
					left: 100%;
				}

.iphone {
	width: 100%;
	float: left;
	position: relative;
	height: 100%;
	min-height: 300px;
}

.iphone img {
	position: absolute;
	right: 30%;
	margin: auto;
	top: -90%;
}

/*///////////////////////////////*//*SECOND_ROW/////////////////////////*/
.section-2 {
	min-height: 600px;
	max-height: 600px;
	padding-left: 80px;
	background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,
									rgba(0, 0, 0, 0.05) 50%,
									rgba(0, 0, 0, 0) 52%),
								    linear-gradient(-45deg,
									rgba(0, 0, 0, 0) 48%,
									rgba(0, 0, 0, 0.05) 50%,
									rgba(0, 0, 0, 0) 52%);
  	background-color: #fff;
	background-size: 2em 2em;
}

		.section-2 h3 {
			padding-top: 8%;
			padding-right: 10%;
			font-weight: 600;
			font-size: 1.8em;
		}

		.section-2 p {
			padding-right: 10%;
		}

			.section-2 p:nth-of-type(1) {
				margin-top: -4%;
				margin-bottom: 7%;
				color: grey;
			}

/*///////////////////////////////*//*THIRD_ROW/////////////////////////*/

.section-3 {
	min-height: 600px;
	max-height: 600px;
}

.section-3 h3 {
	margin: auto;
	font-weight: 600;
	font-size: 2.2em;
}

.section-3 p {
	font-size: 0.7em;
	line-height: 2.2em;
	font-weight: 900;
}

.section-3 a{
	line-height: 5em;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 0.9em;
}

		.bl1-1 {
			background-color: #F3989E;
			height: 100%;
		}

		.bl2-1 {
			background-color: #61607C;
			height: 100%;
		}

		.bl3-1 {
			background-image: url(images/image01.jpg);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
		}

		.bl4-1 {
			background-color: #BC8DBE;
			height: 100%;
		}

		.bl1-2 {
			background-image: url(images/image02.jpg);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
		}

		.bl2-2 {
			background-color: #82CA9C;
			height: 100%;
		}

		.bl3-2 {
			background-image: url(images/image01.jpg);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
		}

		.bl1-1,
		.bl2-1,
		.bl3-1,
		.bl4-1,
		.bl1-2,
		.bl2-2,
		.bl3-2 {
			padding: 10%;
			color: white;
		}

/*///////////////////////////////*//*FOURTH_ROW/////////////////////////*/

.section-4 {
	max-height: 600px;
	min-height: 600px;
	padding-left: 80px;
	padding-top: 4%;
	background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,
									rgba(0, 0, 0, 0.05) 50%,
									rgba(0, 0, 0, 0) 52%),
								    linear-gradient(-45deg,
									rgba(0, 0, 0, 0) 48%,
									rgba(0, 0, 0, 0.05) 50%,
									rgba(0, 0, 0, 0) 52%);
  	background-color: #fff;
	background-size: 2em 2em;
}

	.sec-4__h1 {
		margin-left: 16.66666667%;
		font-size: 2em;
		color: #797B7B;
	}

	.section-4 h6 {
		font-size: 0.8em;
	}

	.section-4 p {
		padding-right: 10%;
		font-size: 0.8em;
		line-height: 1.7em;
		font-weight: 600;
		color: gray;
	}

/*///////////////////////////////*//*FIFTH_ROW/////////////////////////*/

.section-5 {
	background-image: url(images/fullimage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	max-height: 600px;
	min-height: 600px;
	color: white;
	padding-top: 15%;
}

.slogan {
	margin-top: -25%;
	padding-left: 60px;
}

		.slogan h1 {
			font-weight: 600;
			font-size: 3em;
			margin-bottom: -1px;
			padding-right: 40%;
		}

		.slogan p {
			font-weight: 600;
			font-size: 0.7em;
			line-height: 1.6;
		}

		.slogan a {
			text-decoration: none;
			color: white;
			font-weight: 900;
			font-size: 0.8em;
		}

				.arrow {
					height: 1px;
					width: 10px;
					background: #fff;
					position: relative;
					display: inline-block;
					top: -4px;
				}

				.arrow:after {
					content: "";
					width: 0;
					border-width: 2px 0 2px 4px;
					border-style: solid;
					border-color: transparent #fff;
					height: 0;
					position: absolute;
					top: -1px;
					left: 100%;
				}

/*///////////////////////////////*//*SIXTH_ROW/////////////////////////*/

.section-6 {
	max-height: 600px;
	min-height: 600px;
	padding-left: 80px;
	padding-top: 90px;
  	background-color: #82CA9C;
}

.section-6 .col-3 {
	padding-right: 100px;
}

	.sec-6__h1 {
		margin-left: 16.66666667%;
		font-size: 2em;
		color: white;
	}

	.section-6 h6 {
		color: white;
		font-size: 0.8em;
	}

	.section-6 p {
		padding-right: 10%;
		font-size: 0.8em;
		line-height: 1.7em;
		font-weight: 600;
		color: white;
	}

	/*///////////////////////////////*//*SIXTH_ROW/////////////////////////*/

.section-7 {
	max-height: 600px;
	min-height: 600px;
	padding-left: 80px;
	padding-top: 4%;
	background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,
									rgba(0, 0, 0, 0.05) 50%,
									rgba(0, 0, 0, 0) 52%),
								    linear-gradient(-45deg,
									rgba(0, 0, 0, 0) 48%,
									rgba(0, 0, 0, 0.05) 50%,
									rgba(0, 0, 0, 0) 52%);
  	background-color: #fff;
	background-size: 2em 2em;
}

.topic {
	margin: 5px;
	height: 400px;
	border-radius: 2px;
	padding: 10%;
	transition: all 0.2s ease 0s;

}

.topic__h {
	margin-top: 10%
	font-size: 0.8em;
	background-color: #CCCCCC;
	color white;
	text-transform: uppercase;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	display: inline-block;
	padding: 2px 6px;
	font-weight: 600;
	transition: background-color 0.2s ease 0s;
}

.topic:hover {
	background-color: #fff;
	box-shadow: 8px 2px 8px 8px rgba(0, 0, 0, .2);
}

.topic:hover .topic__h {
	background-color: #BD8CBF;
	border-color: #BD8CBF;
	color: #fff;
}

.topic p {
	width: 60%;
}

.button a {
	text-decoration: none;
	font-weight: 900;
	color: white;
	background-color: #82CA9C;
	border: 1px solid #82CA9C;
	border-radius: 4px;
	padding: 7px;
}